body{
    margin: top 20px!important;
}
.card {
    margin: top 20px !important;
    margin-left:  auto; /* Added */
   margin-right: auto;
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
#text{
    align-self: center;
    vertical-align: middle;
}